<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FleetDMViewer.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0C5D4702E22B447DC71854914F9E7B3F202BA9C8</string>
				<key>dateExpires</key>
				<string>11/14/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8FTCWEV5FL.com.daleribeiro.FleetDMViewer</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8FTCWEV5FL</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>FleetDMViewer.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>edbf0a4d-4565-4527-8db3-b2adc63e30b8</string>
				<key>dateExpires</key>
				<string>11/14/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.daleribeiro.FleetDMViewer</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8FTCWEV5FL</string>
				<key>name</key>
				<string>Dale Ribeiro</string>
			</dict>
			<key>versionNumber</key>
			<string>0.1.0</string>
		</dict>
	</array>
</dict>
</plist>
